<html>

<head>
	<link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>This is my website.</h1>
    <a href="/hello/Mr. Bartucz">Hi Mr. Bartucz.</a>
    <p>{'Student_ID': '00444882', 'First_Name': 'Jaxxon', 'Last_Name': 'Osterhaus', 'Program_Name': 'Nursing'}
	{'Student_ID': '00444883', 'First_Name': 'Christopher', 'Last_Name': 'Sandler', 'Program_Name': 'Computer Science'}
	{'Student_ID': '00444884', 'First_Name': 'Gulpana', 'Last_Name': 'Sayeed', 'Program_Name': 'Mathematics'}
	{'Student_ID': '00444885', 'First_Name': 'Felix', 'Last_Name': 'Rivera', 'Program_Name': 'English - Literature and Language'}
	{'Student_ID': '00444886', 'First_Name': 'Adam', 'Last_Name': 'Young', 'Program_Name': 'History'}
	{'Student_ID': '00444887', 'First_Name': 'Allison', 'Last_Name': 'Jeffers', 'Program_Name': 'Geoscience - Environmental Science'}
	{'Student_ID': '00444888', 'First_Name': 'Elsa', 'Last_Name': 'Gardener', 'Program_Name': 'English - Literature and Language'}
	{'Student_ID': '00444889', 'First_Name': 'Jackson', 'Last_Name': 'Riley', 'Program_Name': 'Physics - Electronics'}
	{'Student_ID': '00444890', 'First_Name': 'Olivia', 'Last_Name': 'Bellrichard', 'Program_Name': 'Computer Science - Bioinformatics'}
	{'Student_ID': '00444891', 'First_Name': 'Halley', 'Last_Name': 'Daniels', 'Program_Name': 'Nursing - RN-to-BS'}
	{'Student_ID': '00444892', 'First_Name': 'Taesha', 'Last_Name': 'Whitman', 'Program_Name': 'Geoscience - Geology'}
	{'Student_ID': '00444893', 'First_Name': 'Harvey', 'Last_Name': 'Sanders', 'Program_Name': 'Economics'}
	{'Student_ID': '00444894', 'First_Name': 'Bennet', 'Last_Name': 'Anderssen', 'Program_Name': 'Computer Science'}</p>
</body>

</html>